{
"rewriteProperties":"yes",
"liveHIT":"yes",
"title":"Psychology study: Animals (metset)",
"description":"We are interested in how people communicate with each other. This experiment should take around 10-15 minutes.",
"nameofexperimentfiles":"interp1",
"experimentURL":"https://stanford.edu/~justinek/metaphor_set_exp/experiment/interpretation.html",
"keywords":"language research stanford fun cognitive science university psychology",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"frameheight":"650",
"reward":"1.10",
"numberofassignments":"9",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"conditions":"cond"
}
