{
"rewriteProperties":"yes",
"liveHIT":"yes",
"title":"Fun psychology experiment about language and people",
"description":"Read descriptions about different people and answer questions about them. This experiment should take around 8-10 minutes.",
"nameofexperimentfiles":"allFeatures_litfig",
"experimentURL":"https://web.stanford.edu/~justinek/metaphor_seeding_exp/interp_experiment/template/interp_allFeatures_compare_litfig.html",
"keywords":"language research stanford fun cognitive science university psychology",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"frameheight":"650",
"reward":"0.8",
"numberofassignments":"20",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"conditions":"cond"
}
